<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    
    <!--Navigation Bar-->
    <nav class="navbar d-flex justify-content-between py-4 shadow-lg sticky-top">
        <div class="brand-container ms-5">
            <a href="home.html" class="d-flex align-items-center">
                <img src="../static/img/TorFin.png" alt="TorFin Logo" style="width: 70px; height: 70px;">
                <div class="ms-3">
                    <h5 class="h5 fs-2 my-0">TORFIN</h5>
                    <p class="small d-block my-0">FINANCIAL SOLUTIONS</p>
                </div>
            </a>
        </div>
        <ul class="nav gap-4">
            <div class="d-flex container ni-container gap-4 shadow-lg ms-0">
                <li class="nav-item active"><a href="home.html">Home</a></li>
                <li class="nav-item"><a href="about us.html">About Us</a></li>
                <li class="nav-item"><a href="services.html">Services</a></li>
                <li class="nav-item"><a href="contact us.html">Contact Us</a></li>
                <li class="nav-item"><a href="register.html">Register</a></li>
                <li class="nav-item"><a href="student bio.html">Student Bio</a></li>
            </div>
        </ul>
        <ul class="nav">
            <li class="nav-item">
                <a class="d-flex align-items-center btn btn-warning text-primary fw-semibold btn-lg fs-6 me-5 gap-2" href="cart.html">
                    <img id="cart" src="/static/img/cart.svg" alt="Cart" style="width: 20px; height: 20px;"> Cart
                </a>
            </li>
        </ul>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>